* {
    font-family: neue-haas-unica, sans-serif;
    font-size: 20px;
}

.logo {
    /* max-width: 600px; */
}

img {
    margin: auto;
    display: flex;
    max-width: 700px;
    width: 100%;
}

body {
    background: url(images/clouds12-expand-downsize.jpg) no-repeat scroll right top #000000;
    background-position: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

b {
    font-weight: 600;
}

main {
    padding: 30px;
    max-width: 1200px;
}

.center {
    text-align: center;
}

ul.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
}

span {
    display: none;
}

ul.links li {
    list-style-type: none;
    padding: 0 10px;
    margin: 0 8px;
    padding-bottom: 2px;
}

ul.main.links li {
    background: #b6d2f1;
    border-radius: 10px;
    box-shadow: 5px 5px 0 black;
    border: 2px solid black;
}

ul.ext.links li {
    background: #7da4cf;
    border-radius: 20px;
    padding: 1px 19px;
    margin-top: 5px;
    padding-bottom: 3px;
    margin: 0 5px;
}

ul.main.links li:hover {
    background: #7da4cf;
}

ul.main.links li.selected {
    background: #b6d2f1;
    font-weight: 500;
}

ul.ext.links li:hover {
    background: #4b76a7ab;
}

ul.links li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

ul.ext.links li a {
    color: white;
}

img.hummingbird {
    margin-top: 40px;
}

div.bio {
    display: flex;
}

div.bio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.bio img.family {
    width: 59%;
}

div.bio img.stu {
    width: 37%;
}

div.bio img {
    margin: 1%;
    box-sizing: border-box;
    max-width: unset;
}

h4, h3, h2 {
    font-weight: 500;
}

h2 {
    margin-top: 5px;
}

h4 {
    font-size: 22px;
    font-weight: 600;
}

.italic {
    font-style: italic;
}

.warning {
    color: rgb(200, 0, 0);
}

.indent {
    text-align: center;
    margin: 40px;
}

hr {
    border: unset;
    background: black;
    width: 100%;
    height: 2px;
    margin: 0;
    margin-top: 30px;
}

.resources h4 {
    font-weight: 400;
}

.resources ul {
    margin: 0;
    padding: 0;
}

.resources li {
    list-style-type: none;
    margin: 12px 0;
}

.resources p {
    margin: 20px 0;
}

.resources a {
    margin-bottom: 10px;
}

.resources li.challenge {
    margin-top: 30px;
}

.hums {
    position: relative;
}

.hums .gif {
    position: absolute;
    max-width: 100px;
}

@media only screen and (max-width: 550px) {
    * {
        font-size: 18px;
    }

    main {
        padding: 20px;
    }

    div.bio {
        flex-direction: column;
    }

    div.bio img.stu, div.bio img.family {
        margin: 10px;
        width: 100%;
    }
}

@media only screen and (max-width: 460px) {
    ul.links li a {
        font-size: 14px;
    }
    
    ul.links li {
        padding-top: 0;
    }
}